<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="js/angular.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="showCalc">
    <form>
        <div class="form-group">
            <label>Chiều dài</label>
            <input type="text" ng-model="length" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Chiều rộng</label>
            <input type="text" ng-model="width" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Diện tích</label>
            <div ng-bind="acreage" class="form-control"></div>
        </div>

        <div class="form-group">
            <label>Chu vi</label>
            <div ng-bind="perimeter" class="form-control"></div>
        </div>

        <div class="form-group">
            <button class="btn btn-default" ng-click="calculate()">Tính</button>
        </div>
    </form>
</div>

<script>
    var app = angular.module("myApp", []);

    app.controller("showCalc", function ($scope) {
        $scope.calculate = function () {
            var a = parseFloat($scope.width);
            var b = parseFloat($scope.length);
            $scope.acreage = a * b;
            $scope.perimeter = (a + b) * 2;

        }
    });
</script>
</body>
</html>