<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example4</title>
    <script src="js/angular.min.js"></script>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ex4.js"></script>

</head>
<body>
<div ng-app="myApp" ng-controller="showCalc" class="col-sm-4">
    <form name="myForm">
        <div class="form-group">
            <label>Chiều dài</label>
            <input type="text" ng-model="length" name="length" class="form-control" ng-required="true"
                   required="required"/>
            <span style="color:red" ng-show="myForm.length.$dirty && myForm.length.$invalid">
<span ng-show="myForm.length.$error.required">Vui lòng nhập chiều dài</span>
</span>
        </div>

        <div class="form-group">
            <label>Chiều rộng</label>
            <input type="text" ng-model="width" name="width" class="form-control" required="required"/>
            <span style="color:red" ng-show="myForm.width.$dirty && myForm.width.$invalid">
                <span ng-show="myForm.width.$error.required">Vui lòng nhập chiều rộng</span></span>
        </div>

        <div class="form-group">
            <label>Diện tích</label>
            <div ng-bind="acreage" class="form-control"></div>
        </div>

        <div class="form-group">
            <label>Chu vi</label>
            <div ng-bind="perimeter" class="form-control"></div>
        </div>

        <div class="form-group">
            <button class="btn btn-default" ng-click="calculate()">Tính</button>
        </div>
    </form>
</div>
</body>
</html>